<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
   <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
   <property name="hibernate.connection.url">jdbc:postgresql://localhost/course_work_cbr</property>
   <property name="hibernate.connection.username">postgres</property>
   <property name="hibernate.connection.password">112581</property>
   <property name="hibernate.connection.driver_class">org.postgresql.Driver</property> 
   <property name="hibernate.show_sql">true</property>
   <mapping class="edu.cw.cbr.model.domain.Battery"/>
   <mapping class="edu.cw.cbr.model.domain.Developer"/>
   <mapping class="edu.cw.cbr.model.domain.Device"/>
   <mapping class="edu.cw.cbr.model.domain.DeviceHardwareComponent"/>
   <mapping class="edu.cw.cbr.model.domain.DeviceState"/>
   <mapping class="edu.cw.cbr.model.domain.HardwareComponent"/>
   <mapping class="edu.cw.cbr.model.domain.HardwareComponentFamily"/>
   <mapping class="edu.cw.cbr.model.domain.HardwareComponentType"/>
   <mapping class="edu.cw.cbr.model.domain.MemoryModule"/>
   <mapping class="edu.cw.cbr.model.domain.NetworkAdapter"/>
   <mapping class="edu.cw.cbr.model.domain.Precedent"/>
   <mapping class="edu.cw.cbr.model.domain.Processor"/>
   <mapping class="edu.cw.cbr.model.domain.State"/>
   <mapping class="edu.cw.cbr.model.domain.Sysuser"/>
   <mapping class="edu.cw.cbr.model.domain.Task"/>
   <mapping class="edu.cw.cbr.model.domain.Usertype"/>
  </session-factory>
</hibernate-configuration>